html::-webkit-scrollbar {
    display: none
}

body {
    margin: 0;
}

.testlabel {
    position: absolute;
    padding: 10px;
    color: #fff;
    border: 2px solid #bfc;
    background: rgba(0, 0, 0, .5);
}

.container-fluid {
    margin-top: 20px;
}

.sidebar {
    padding: 0px;
    padding-left: 10px;
    overflow: hidden;
    border-right: 1px solid #eee;
}

.frame {
    position: relative;
}

.frame iframe {
    position: relative;
    width: 100%;
    height: 90vh;
    border: 2px solid rgb(24, 145, 245);
}

.nav-item {
    margin-bottom: 20px;
}

.tip {
    position: absolute;
    left: 50%;
    top: 48%;
    text-indent: -50px;
    z-index: 1;
}

.overlay-panel {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 130px;
    padding: 10px;
    border: 1px solid #f0860d;
    background: rgba(255, 255, 255, .6);
}

.overlay-panel button {
    font-size: 14px;
}

.overlay-panel .show-point {
    margin: 20px 0;
}

.overlay-panel .delete {
    color: red;
}

.pano-domoverlay {
    position: absolute;
    height: 20px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    line-height: 20px;
    background: rgba(0, 0, 0, .3);
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}